.vc-pdfjs-wrapper{display:flex;flex-direction:column;min-height:100vh;}
.vc-pdfjs-viewer,.vc-pdfjs-sidebar{width:100%;}
.vc-pdfjs-sidebar{padding:20px;box-sizing:border-box;overflow:auto;}
.vc-pdfjs-viewer iframe{width:100%;height:100vh;border:none;}
.vc-logo{max-width:100%;height:auto;margin-bottom:20px;}
.vc-title{margin-top:0;}
body{margin:0;}
@media(min-width:768px){
    .vc-pdfjs-wrapper{flex-direction:row;}
    .vc-pdfjs-viewer{width:80%;}
    .vc-pdfjs-sidebar{width:20%;}
}
